services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 5s

  mongo:
    image: mongo:8
    container_name: mongo_db
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  collector-python:
    build: ./collector-python
    container_name: collector-python
    restart: always
    depends_on:
      - rabbitmq
    environment:
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  queue-worker-go:
    build: ./queue-worker-go
    container_name: queue-worker-go
    restart: always
    depends_on:
      - rabbitmq
    environment:
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  nest-api:
    build:
      context: ./nest-api
      dockerfile: Dockerfile
    container_name: nest-api
    restart: always
    depends_on:
      mongo:
        condition: service_started
      rabbitmq:
        condition: service_healthy
    ports:
      - "3000:3000"
    environment:
      MONGO_URI: mongodb://root:root@mongo:27017/admin?authSource=admin
      JWT_SECRET: <your_jwt_secret_key>
      GEMINI_API_KEY: <YOUR_GEMINI_API_KEY>
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

volumes:
  mongo_data:
